.container {
    width: 100%;

    padding: 0 15px;
    margin: 0 auto;
  }
  .main{
      padding-top: 20px;
  }
.resume{
    color: rgb(240, 245, 240);
    font-size: 48;
}
body{
    background-image: url("backgroundphoto.jpg");
}
.contact{
    color: rgb(240, 245, 240);
    font-size: 20;

}
.contacts{
    color: rgb(240, 245, 240);
    font-size: 20;
}
.half1{
    width: 50%;
    height: 10%;

    float: left;
}
.half2{
    width: 50%;
    float: left;
}
.line2{
    margin-top: 15px;
}

.myname{
    color: rgb(240, 245, 240);
    font-size: 30;
}

.myname2{
    padding-top: 50px;
    color: rgb(240, 245, 240);
    font-size: 25;
}
.myname3{
    padding-top: 20px;
    color: rgb(240, 245, 240);
    font-size: 25;
}

.skills{
    color: rgb(240, 245, 240);
    font-size: 20;
}
.skill{
    color: rgb(240, 245, 240);
}

footer{
    margin-top: 100px;
    
}
button {
    
    outline: 0;
    cursor: pointer;
    border: none;
    border-bottom: 5px solid #0d64e7;
    background: linear-gradient( 0deg, #468fd3, #257ac0);
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 35px;
    border-radius: 100px 100px 100px 100px / 100% 100%;
    box-shadow: 0px 8px 8px 0px rgba(239, 240, 243, 0.75);
  }
  